{% extends 'index.html' %}
{% load static %}


{% block content %}
<div class="container">
    
    
    <div class="row gap" style="margin-left: auto; margin-right: auto; ">
        
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="" target="_blank">
                        <center><img src="{% static 'image/zm.jpg' %}" width="150" height="80" alt="webdev"
                                class="img-circle img-responsive center-block"></center>
                    </a><br>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="media-heading text-center"><a href=""
                            target="_blank" style="color: #34495e;">Hardware & Networking</a></h3><br>
                    <p>Hardware and Networking is field that we can deal with the hardware related instrument
                        here we learn and how we can we uses  is requirement in the Computer.<br>
                        Networking is here we can deal with the network standard topplogies,ip address, window server 2003 networking etc.
                        <br><a href="" target="_blank">(Welcome to Hardware and Software sites here you get the information about it...)</a>
                    </p>
                </div>

            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="" target="_blank">
                        <center><img
                            src="{% static 'image/mouse.png' %}" width="150" height="80" alt="webdev"
                            class="img-circle img-responsive center-block"></center></a><br>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="media-heading text-center"><a href=""
                            target="_blank" style="color: #34495e;">Animation Programs</a></h3><br>
                    <p>In the Animation Program is field that we can work on the basic of web designing 
                        2D Animation and Audio and Video Editing<br>
                        3D Visualizaton and Animation<br>
                        3D Animation and Special Effect <br>
                        Carrier Oppounties<br>
                        <a href="" target="_blank">(Welcome to Animation sites here you get the information about it...)</a></p>
                </div>

            </div>
        </div>
    </div>

    <br>
    <br>
    <!-- End of row -->

    <div class="row gap" style="margin-left: auto; margin-right: auto; ">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-">
                    <a href="" target="_blank">
                        <center><img
                            src="{% static 'image/software.jpg' %}" width="150" height="80" alt="webdev"
                            class="img-circle img-responsive center-block"></center></a><br>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="media-heading text-center"><a href="" target="_blank"
                            style="color: #34495e;">Software Engineering</a></h3><br>
                    <p>In the Software Engineering is field that we can on the basic of making of use Program is day today life
                        Diploma in web Programming here we are working on html javascript Photoshop and xml etc
                        Programming Language like C,C++, here we deallig with the logic of program and also we give the Assignment & Project
                        Java Specialist here we thought Oracle, core Java, Advance Java, Assignment & Project.
                         <br>
                        <a href="" target="_blank">(Welcome to Software and Engineering sites here you get the information about it...)</a></p>
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="" target="_blank">
                        <center><img
                            src="{% static 'image/download.jpg' %}" width="150" height="80" alt="webdev"
                            class="img-circle img-responsive center-block"></center></a><br>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="media-heading text-center"><a href="" target="_blank"
                            style="color: #34495e;">Diploma in MS Office & Tally</a></h3><br>
                    <p>Here we are working short term course of Diploma In Ms Office
                        Diploma In Ms Office works on computer fundamental,Typing Tutorial,Ms Office etc
                        Diploma In Accounting(Tally) works on Accounting Concept,Investory Masters and Petty Cash etc
                        Advance excel works Pivot table, MIS Report and Micro etc
                        Advance Tally With G.S.T Cheaque Printing,Concept of G.S.Tally and Parroll Compliance etc<br>
                        <a href="" target="_blank">(Welcome to Ms Office and Tally sites here you get the information about it...)</a></p>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

