{% extends 'index.html' %}
{% load static %}

{% block content %}


<div class="container">
    
    
    <div class="row gap" style="margin-left: auto; margin-right: auto; ">
        
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="" target="_blank">
                        <center><img src="{% static 'image/zm.jpg' %}" width="150" height="40" alt="webdev"
                                class="img-circle img-responsive center-block"></center>
                    </a><br>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="media-heading text-center"><a href=""
                            target="_blank" style="color: #34495e;">Hardware & Networking</a></h3><br>
                    <p>Data Science, it is a field that deals with data and extracts knowledge from it to gain useful
                        insights on product/business. Almost all business nowadays uses data-driven decisions in one way
                        or another. Statistics, Data Analytics and Machine Learning are major skills needed for data
                        science.
                        <br><a href="" target="_blank">(Discover More....)</a>
                    </p>
                </div>

            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="" target="_blank"><img
                            src="mainpagefiles/images/new logo/weblogo.png" alt="webdev"
                            class="img-circle img-responsive center-block"></a><br>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="media-heading text-center"><a href=""
                            target="_blank" style="color: #34495e;">Animation Programs</a></h3><br>
                    <p>One masters HTML5, CSS3, Javascript, Python, PHP+MySQL ,JQuery, Angular and Node.js. The web
                        developer stack is most rewarding in terms of packages and includes core concepts and libraries.
                    </p>
                    <p>By learning ionic with django you will be able to create hybrid apps.<br>
                        <a href="" target="_blank">(Discover More....)</a></p>
                </div>

            </div>
        </div>
    </div>

    <br>
    <br>
    <!-- End of row -->

    <div class="row gap" style="margin-left: auto; margin-right: auto; ">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-">
                    <a href="" target="_blank"><img
                            src="mainpagefiles/images/new logo/javalogo.png" alt="webdev"
                            class="img-circle img-responsive center-block"></a><br>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="media-heading text-center"><a href="" target="_blank"
                            style="color: #34495e;">Software Engineering</a></h3><br>
                    <p>Java is the most popular programming language, which is used to develop applications ranging from
                        embedded devices to Mobile Applications to ERP Systems. <br>
                        <a href="" target="_blank">(Discover More....)</a></p>
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="" target="_blank"><img
                            src="mainpagefiles/images/new logo/datbaselogo.png" alt="webdev"
                            class="img-circle img-responsive center-block"></a><br>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="media-heading text-center"><a href="" target="_blank"
                            style="color: #34495e;">Diploma in MS Office & Tally</a></h3><br>
                    <p>The scope of Oracle is in abundance. Most of the Databases that we use are of Oracle. Under
                        database training we train on SQL and PL/SQL. Each and every participant trained by us have
                        become an OCA by clearing 1Z0-061 &amp; 1Z0-144 exam with flying colours. <br>
                        <a href="" target="_blank">(Discover More....)</a></p>
                </div>

            </div>
        </div>
    </div>
    
{% endblock %}

