{% extends 'index.html' %}
{% load static %}

{% block content %}

<h4>ZM_Batches of Febuary</h4>
<div class="container">
    <h2> Table Time for Monday to Saturday</h2>
    <p>Duration of Time Table of month</p>            
    <table class="table">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Start Day</th>
          <th>End Day</th>
          <th>Timing(daily)</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        
        {% for batches1 in batches1 %}
        
        <tr>
          {% if batches1.true == 0 %}
          <td>{{batches1.subject}}</td>
          <td>{{batches1.start_day}}</td>
          <td>{{batches1.end_day}}</td>
          <td>{{batches1.timing}}</td>
          <td>{{batches1.duration}}</td>
          {% endif %}
        </tr>
        
        {% endfor %}
        
      </tbody>
    </table>
  </div>
  <br>
  <!-- &nbsp;&nbsp;
  <div class="row">
    <div class="section bg-border-radius col-md-6 col-lg-6 col-sm-12 col-xs-12" id="datascience" style="background-color:#990000;">

      <div class="container" style="">
        <div class="row-fluid" style="line-height:18px;">
          <div class="col-lg-7 col-md-7  " style="padding:50px;margin-top:-20px;">
            <p style="color: white;">
            Any fresher and candidates up to 3 years work-ex <br>can become Data Scientist<br> by pursuing
            </p>
            <p style="color: white;margin-top:-21px;"></p><h1 style="color: white;font-weight:580;letter-spacing:-1px;">Masters in Data Science Programme</h1>


              
              <ul class="pseudo-ul" style="color: white;margin-left:0px;"><p style="text-decoration:underline;"></p><h3 style="color: white;font-weight:bold;">Course Highlights:</h3><p></p>
                <li style="color: white;40px;margin-left:8px;">&nbsp;250 hrs of hands-on class room training. Spread over a period of 6 months</li><br>
                <li style="color: white;60px;margin-left:8px;">&nbsp;Split into <b>six modules</b>, namely <b>SQL</b> for Databases, <b>Data Analytics</b> using R, <b>Statistics</b> using Excel &amp; Tableau, <b>Python</b> Programming, <b>Machine Learning</b>, <b>Advanced Machine learning</b> with Capstone Projects</li><br>
                <li style="color: white;30px;margin-left:8px;">&nbsp;100% placement calls</li><br>
                <li style="color: white;30px;margin-left:8px;">&nbsp;Course is designed to give maximum choice and time flexibility to working professionals</li><br>
                <li style="color: white;30px;margin-left:8px;">&nbsp;Weekend batches at Thane, Chembur, Dadar and Borivali locations</li><br>
                <li style="color: white;30px;margin-left:8px;">&nbsp;More than 3000+ reviews about training@Suven on social media</li><br>
                <li style="color: white;30px;margin-left:8px;">&nbsp;Only Classroom coaching with 200% ROI</li><br>
                <br>
                <center><h3 style="color: white;font-weight:bold;margin-left:-70px;margin-top:-10px;"> Total Fee : INR <span class="strikethrough-diagonal">47000</span> 43000/-</h3></center>
              </ul>
            <p></p>
            <div class="row" style="">
              <div class="col-lg-4 col-md-4"></div>
              <div class="col-lg-8 col-md-8 ">
                <p style="color: white;"></p>
              </div>
            </div>
            <p style="color: white;"></p>
          </div>

        </div>

      </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="container-fluid col-md-6 col-lg-6 col-xs-12 col-sm-12 col-xs-12 hidden-sm hidden-xs" style="margin-left:-70px;margin-top:-10px;">
      <section id="testimonial">
        <div class="container">

          <div class="row text-center">
            <h1><span style="margin-left:360px;float:left;font-weight:100;">Our Trainers</span></h1><br><br><br>
          </div>

          <div class="row">
            <div class="testimonial-part">

              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 text-right" style=":100px;90px;">
                <img class="img-circle" src="images/testimonials/1per.jpg" style="width: 110px;height:110px;">
              </div>

              <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12" style="width:80%;">
                <div class="comment-box2 " style="margin-left:-70px;margin-right:30px;padding:5px;padding-bottom:10px;">
                  <p class="" style="font-size:13px;;"><b>Rocky Jagtiani</b> : <b>Technology trainer</b> to companies like  Accenture , Morgan Stanley, EY. Have trained more than <b>18000 candidates in 0-3 years work-ex category</b>. Having 18+ of years of training experience. Would be teaching Statistics using Excel and Tableau , Python Programming and Machine learning in this course.
                  </p>
                </div>
              </div>

            </div>
          </div>
          <div class="row" style=":-110px;">
            <div class="testimonial-part">

              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 text-right" style=":100px;90px;">
                <img class="img-circle" src="images/testimonials/3per.jpg" style="width: 110px;height:110px;">
              </div>

              <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12" style="width:40%;">
                <div class="comment-box2" style="margin-left:-70px;margin-right:30px;padding:5px;padding-bottom:10px;">
                  <p class="" style="font-size:13px;;">
                  <b>Lokesh Singh</b> : Presently <b>Data Scientist</b> at Eureka Mobile. Had worked for 2.5 years as a software Engineer at Accenture. An active contributor at <b>Kaggle ML-NLP competitions</b>. Having 3+ years of training experience.  Would be teaching Machine learning and Advanced Machine learning in this course.
                  </p>
                </div>
              </div>

            </div>
          </div>

          <div class="row" style=":-105px;">
            <div class="testimonial-part">

              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 text-right" style=":100px;90px;">
                <img class="img-circle" src="images/testimonials/2per.jpg" style="width: 110px;height:110px;">
              </div>

              <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12" style="width:40%;">
                <div class="comment-box2" style="margin-left:-70px;margin-right:30px;padding:5px;min-height: 85px;max-height: 85px;">
                  <p class="" style="font-size:13px;margin-bottom:-5px;">
                  <b>Niraj Sharma</b> : Presently <b>Data Analyst</b> at NeoSoft (CMM level 5). An expert in R programming. An active contributor at <b>Kaggle Data Analytics using R</b> competitions. Having 3+ years of training experience.  Would be teaching Statistics and Data Analytics using R in this course. 
                  </p>
                </div>
              </div>

            </div>
          </div>

          <div class="row" style="">
            <div class="testimonial-part">

              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 text-right" style=":100px;90px;">
                <img class="img-circle" src="images/testimonials/4per.jpg" style="width: 110px;height:110px;">
              </div>

              <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12" style="width:40%;">
                <div class="comment-box2" style="margin-left:-70px;margin-right:30px;padding:5px;min-height: 85px;max-height: 85px;">
                  <p class="" style="font-size:13px;"><b>Simran Jagtiani</b> : <b>Presently Head of HR &amp; Operations</b> , awarded as Women Entrepreneur of the year in 2011. Having mentored <b>more than 5000 participants</b> in the 0-3 years <span style="text-decoration:underline;">WorkEx category</span> and having successfully placed <span style="text-decoration:underline;">all</span> of them as IT professional.
                  </p>
                </div>
              </div>

            </div>
          </div>

        </div>
      
      </section>
    
    </div>
    
  </div>
  <br>
  <br>
  <div class="row">
    <div class="section bg-border-radius col-md-6 col-lg-6" style="background-color:#003366;color:#ffffff;">

      <div class="container" style="">
        <div class="row-fluid" id="sql" style="line-height:18px;padding-right:50px;">
          <div class="col-lg-7 col-md-7  " style="padding:50px;margin-top:-20px;margin-left:25px;">
            <p style="color: white;">SQL the <b>first skill</b> to learn under <br>
this course <br>
"Masters in Data Science"
            
            </p>
            <p style="color: white;margin-top:-21px;"></p><h1 style="color: white;font-weight:580;letter-spacing:-1px;">Oracle SQL training and Exam Prep Module</h1>
            What is SQL?<br>
            SQL (Structured Query Language) is the primary language responsible for managing data held in a relational database management system (RDBMS). Simply put, SQL is the language you use to interact with a database.
            <br><br>
            Who should learn SQL ?<br>
            Product Managers, Data Analysts, Data Scientists, Data Engineers,<br>
            Backend Developers, Frontend developers, Mobile App Developers, Marketers


              
              <ul class="pseudo-ul" style="color: white;"><p style="text-decoration:underline;"></p><h3 style="color: white;font-weight:bold;">Course Highlights:</h3><p></p>
                <li style="color: white;40px;">&nbsp;24 hrs of Hands-on training on oracle-11g/12c/18c/19c</li><br>
                <li style="color: white;60px;">&nbsp;4 printed books : Theory, Practical Try-outs, 2 Oracle Mock test papers</li><br>
                <li style="color: white;30px;">&nbsp;Complete software support on <a href="" target="_blank" style="text-decoration:underline;">db.suvenconsultants.com</a></li><br>
                <li style="color: white;30px;">&nbsp;100% Oracle SQL Exam clearance guarantee</li><br>
                <li style="color: white;30px;">&nbsp;One online mock test exactly on lines of Oracle</li><br><br>
                <center><h4 style="color: white;font-weight:bold;margin-left:-50px;margin-top:-10px;"> Fee (only for) Oracle SQL Training : INR 5000/-</h4></center>
              </ul>
            <p></p>
            <div class="row" style="">
              <div class="col-lg-4 col-md-4"></div>
              <div class="col-lg-8 col-md-8 ">
                <p style="color: white;"></p>
              </div>
            </div>
            <p style="color: white;"></p>
          </div>

        </div>

      </div>

    </div>
    <div class="col-md-6 col-lg-6 syllabus" style="color:#34495e;line-height:12px;">
      <div class="row">
        <h2>Syllabus:</h2>
        <ol>
        <p>For Syllabus visit <a href="https://db.suvenconsultants.com/#syllabus" target="_blank" style="text-decoration:underline;">db.suvenconsultants.com</a></p> 
        <p> Register <a href="https://docs.google.com/forms/d/e/1FAIpQLSdic3kbD44rZy_Qgp0WHwy0R-ZYJZlmi16Mhiq2bClztEBvlg/viewform" target="_blank" style="text-decoration:underline;">here</a> for getting batch updates</p> 
        <p> Batch time table for all subjects -  <a href="http://bit.ly/2WnuQYL" target="_blank" style="text-decoration:underline;">here</a></p>
      </ol></div>
      <div class="row">
        <h2>Downloads:</h2>
        <ol>
              <p>1) Oracle Database Express Edition 12c <a target="_blank" href="http://www.oracle.com/technetwork/database/enterprise-edition/downloads/index-092322.html">Download <span class="glyphicon glyphicon-download"></span></a> Or <a href="https://livesql.oracle.com" target="_blank">use live SQL</a></p>
              <p>2) Oracle Database Express Edition 11g <a target="_blank" href="https://www.oracle.com/technetwork/database/enterprise-edition/downloads/index.html">Download <span class="glyphicon glyphicon-download"></span></a> Or <a href="https://livesql.oracle.com" target="_blank">use live SQL</a></p>
              
              <p>3) Installation Steps - Oracle DB 10g/11g - By Rocky Sir <a target="_blank" href="http://db.suvenconsultants.com/Installing_Oracle_Database_10%20or%2011g_Express_Edition-By_Rocky_Sir.pdf">Download <span class="glyphicon glyphicon-download"></span></a></p>
              <p>4) How to run java-database programs from my PC ? <a target="_blank" href="https://drive.google.com/file/d/1B6Ya1m0U-Gd17M7ThHiRUqGpR9ygW7MI/view">Download <span class="glyphicon glyphicon-download"></span></a></p>
              <p>5) Solution (by Rocky Sir) to   <a target="_blank" href="https://www.hackerrank.com/domains/sql/select"> HackerRank &gt; SQL problems </a> <a href="sql_practice_home_Queries_Extra.rar">Download<span class="glyphicon glyphicon-download"></span></a> &nbsp;&nbsp; <a href="readMe.txt">ReadMe.txt<span class="glyphicon glyphicon-download"></span></a></p>
              <p>6) Foreign Key Constraint Example -- important !!<a type="button" target="_blank" href="Foreign_key_constraints_example.pdf"> Must See Once </a></p>
              <p>7) Learn Oracle SQL : The Hierarchical Query Clause<a type="button" target="_blank" href="https://suventechnology.blogspot.com/2018/11/learn-oracle-sql-hierarchical-query.html"> Must See Once</a></p>
              <p>8) Top-N queries in Oracle SQL<a type="button" target="_blank" href="https://suventechnology.blogspot.com/2018/11/top-n-queries-in-oracle-sql-by-rocky.html"> Must See Once</a></p>
              <p>9) Understanding Analytic Functions in Oracle SQL<a type="button" target="_blank" href="https://suventechnology.blogspot.com/2018/11/understanding-analytic-functions-in.html"> Must See Once</a></p>
              <p>10) Overview of Regular Expressions in Oracle 11g<a type="button" target="_blank" href="https://docs.oracle.com/cd/B28359_01/appdev.111/b28424/adfns_regexp.htm#CHDEDGJD"> Must See Once</a></p>
              <p>For many more downloads please visit <a href="https://db.suvenconsultants.com/#downloads" target="_blank" style="text-decoration:underline;">db.suvenconsultants.com</a></p>
                  
            </ol>

      </div>

    </div>

  </div>
  

   -->

{% endblock %}